# Create a copy of this file and replace with correct values. Find more details in README.md
WALLET_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000

ENABLE_TRANSACTION_CHECKS=etherscan/redis/ip

ETHERSCAN_API_KEY=00000000000000000000000000

# Create free Redis db on upstash (up to 10k commands/day)
REDIS_URL=redis://username:password@server:port
REDIS_PASSWORD=password

#Captcha
RECAPTCHA_SECRET_KEY=0000000000000000000000000000000000000000

TWITTEER_BEARER_TOKEN=
TWITTER_CONSUMER_KEY=RuEXX9KLZLZjm3H3xkfcQ4nR2
TWITTER_CONSUMER_SECRET=tYYoYF0zEqA3gmRR2HwHaytT0KUZO4N1HFJmxTHcHPd3O3nldB
SESSION_SECRET=your_secret_here
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
NEXTAUTH_SECRET=L_VK4d9p1GpWnrYBWaLUalGY87-ZQFB0_gE9lQzaalXs_84Wqr
NEXTAUTH_URL=http://localhost:3000
