# Create a copy of this file and replace with correct values. Find more details in README.md
WALLET_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000
NEXT_PUBLIC_WALLET_ADDRESS=0x00000000000000000000000000000000000000000000000

# RPC URL
NEXT_PUBLIC_ALCHEMY_GOERLI_RPC=https://eth-goerli.g.alchemy.com/v2/000000000000000000000000000
NEXT_PUBLIC_ALCHEMY_SEPOLIA_RPC=https://eth-sepolia.g.alchemy.com/v2/000000000000000000000000000
NEXT_PUBLIC_MUMBAI_RPC=https://endpoints.omniatech.io/v1/matic/mumbai/public
NEXT_PUBLIC_BASE_RPC=https://base-goerli.blockpi.network/v1/rpc/public
NEXT_PUBLIC_ARBITRUM_GOERLI_RPC=https://arbitrum-goerli.public.blastapi.io
NEXT_PUBLIC_BNB_RPC=https://endpoints.omniatech.io/v1/bsc/testnet/public
NEXT_PUBLIC_OPTIMISM_RPC=https://optimism-goerli.publicnode.com
# Daily claim amount
NEXT_PUBLIC_DEFAULT_WALLET_ETH_AMOUNT=0.1
NEXT_PUBLIC_PRIVILEGED_WALLET_ETH_AMOUNT=0.2
NEXT_PUBLIC_DEFAULT_WALLET_BNB_AMOUNT = 0.01

ENABLE_TRANSACTION_CHECKS=etherscan/redis/ip

ETHERSCAN_API_KEY=00000000000000000000000000

# Create free Redis db on upstash (up to 10k commands/day)
REDIS_URL=redis://username:password@server:port
REDIS_PASSWORD=password

#Captcha
NEXT_PUBLIC_ENABLE_CAPTCHA=none
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=0000000000000000000000000000000000000000
RECAPTCHA_SECRET_KEY=0000000000000000000000000000000000000000

TWITTEER_BEARER_TOKEN=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
SESSION_SECRET=your_secret_here
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000/
